<Context>

    <Resource name="jdbc/PostgresDS"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="100"
              maxIdle="30"
              maxWait="10000"
              username="postgres"
              password="lhs22LI=D="
              driverClassName="org.postgresql.Driver"
              url="jdbc:postgresql://db:5432/web_forum"/>
</Context>
